* {
	margin: 0;
	padding: 0;
}

#graph-container {
	top: 65px;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
}

#loader-wrapper {
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	position: absolute
}

.card {
	overflow: visible;
	z-index: 2;
}

.card-panel {
	z-index: 2;
}

.collapsible {
	box-shadow: none;
}

kbd {
	color: white;
	background: #333;
	padding: 2px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px 0px black;
}

.ui-autocomplete {
    @extend .z-depth-1;
    background-color: #fff;
    position: fixed; /* To prevent li elements go to the end of the screen */

    li {
        @extend .col, .s12, .l4; /* Edit this the way you like it. or to make it the same width as the input */
        font-size: 1.2rem;
        color: #26a69a; /* Teal color */
        line-height: 1.5rem;
        padding: 1rem 1rem;

        &:hover {
            background: #eee;
        }
    }
}
    /* Remove unwanted text comming from plugin */
.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}