* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(245, 245, 245);
	color: #333;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}

#loading-container {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
}

#loading {
	width: 200px;
	height: 200px;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#graph-container {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
}

.control-panel {
	position: absolute;
	width: 230px;
	background-color: rgb(249, 247, 237);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#control-filters {
	top: 10px;
	right: 10px;
	height: 170px;
}

#instructions-panel {
	bottom: 10px;
	right: 10px;
	width: auto;
}

#uvs-panel {
	top: 10px;
	left: 10px;
}

#search-panel {
	right: 10px;
	top: 190px;
}

#buttons-panel {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#buttons-panel button {
	height: 50px;
	width: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

#buttons-panel #fit-button {
	font-size: 20px; 
}

#buttons-panel li {
	padding-top: 10px;
}

.control-panel > div {
	margin: 10px;
	overflow-x: auto;
}

.control-panel button {
	padding: 5px;
}

.control-panel select {
	padding: 5px;
}

.line {
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
	padding: 12px 0 0 0;
	border-bottom: 1px solid #aac789;
	background: transparent;
}

h2, h3, h4 {
	padding: 0;
	font-variant: small-caps;
}

.green {
	color: #437356;
}

h2.underline {
	color: #437356;
	background: #f4f0e4;
	margin: 0;
	border-radius: 2px;
	padding: 8px 12px;
	font-weight: 700;
}

.hidden {
	display: none;
	visibility: hidden;
}

input[type=range] {
	width: 160px;
}
