{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>UVs UTC Cartographie</title>
		<meta name="charset" charset="utf-8">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'bower_components/Materialize/dist/css/materialize.min.css' %}" media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<!--Import jquery-ui.css-->
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}">

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body class="grey lighten-5">
			<!-- ================================================================== -->
			<!-- ============================= Header ============================ -->
			<!-- ================================================================== -->
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper blue-grey darken-3">
						<ul class="brand-logo left" style="padding-left: 10px;">
							<li>UVs</li>
						</ul>
						<div class="brand-logo center input-field" id="searchbar">
							<a class="dropdown-button" data-activates="dropdown "><i class="material-icons prefix" style="color: white;">search</i><input placeholder="Rechercher un noeud, une branche..." id="node-to-search" type="text" class="validate white-text" style="width: 110%;"></a>

							<ul id="dropdown" class="dropdown-content" style="margin-top: 15px;"></ul>
						</div>

						<ul class="right">
							<li><a href="#options-modal" class="modal-trigger"><i class="material-icons">settings</i></a></li>
							<li><a href="#about-modal" class="modal-trigger"><i class="material-icons">help_outline</i></a></li>
							{% if not logged %}
								<li><a href="connection">Connexion<i class="material-icons right">account_circle</i></a></li>
							{% else %}
								<li><a href="logout">Déconnexion ({{user.first_name}})<i class="material-icons right">clear</i></a></li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>

		<div class="row">

			<!-- ================================================================== -->
			<!-- ====================  Left and right menus ======================= -->
			<!-- ================================================================== -->

			<!-- ===== Left Menu ===== -->
			<div class="col s3 m3 l2">
				<div class="card" id="left-menu">
						<ul class="collapsible" data-collapsible="expandable">
							<li>
								<div class="collapsible-header active"><i class="material-icons">visibility</i><b class="truncate">Visualisation</b></div>
								<div class="collapsible-body">
									<p>
										<input name="visibility-group" type="radio" id="visibility-all" class="with-gap" checked="checked" />
										<label for="visibility-all">Tout</label>
										<br />
										<input name="visibility-group" type="radio" id="visibility-me" class="with-gap"/>
										<label for="visibility-me">Mon parcours
											{% if not logged %}(Connectez-vous)
											{% endif %}
										</label>
										<br />
										<input name="visibility-group" type="radio" id="visibility-same" class="with-gap"/>
										<label for="visibility-same">Parcours similaires</label>
									</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header" id="menu_filtres"><i class="material-icons">sort</i><b class="truncate">Filtres</b></div>
								<div class="collapsible-body" id="menu_filtres_body">


									<div class="row">
										<div class="container section">  <!--class section is for top and bottom padding-->
											<label class="truncate"><b>Catégories</b></label>
										</div>
										<div class="container center-align">
											<span><a class="btn-floating center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher toutes les catégories" id="node_category_All"><i class="material-icons center-align">visibility_off</i></a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement les CS" id="node_category_CS">CS</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement les TM" id="node_category_TM">TM</a></span>

										</div>
									</div>


									<div class="row">
										<div class="container section">  <!--class section is for top and bottom padding and container is for left end right padding -->
											<label class="truncate"><b>Branches</b><br/></label>
										</div>
										<div class="center-align container">
											<span><a class="btn-floating center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher toutes les branches" id="node_branch_All"><i class="material-icons center-align">visibility_off</i></a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le TC" id="node_branch_TC">TC</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GSU" id="node_branch_GSU">GSU</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GP" id="node_branch_GP">GP</a></span>

										</div>
										<div class="center-align">
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GB" id="node_branch_GB">GB</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GM" id="node_branch_GM">GM</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GSM" id="node_branch_GSM">GSM</a></span>
											<span><a class="btn-floating btn-flat center-align tooltipped" data-position="bottom" data-delay="500" data-tooltip="Afficher uniquement le GI" id="node_branch_GI">GI</a></span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">timeline</i><b class="truncate">Mes parcours</b></div>
								<div class="collapsible-body">
									<ul class="collection">
										<li class="collection-item truncate"><div>Parcours 1<a href="#!" class="secondary-content"><i class="material-icons" style="margin-right: 10px;">build</i><i class="material-icons">delete</i></a></div></li>
										<li class="collection-item active truncate"><div>Parcours 2<a href="#!" class="secondary-content"><i class="material-icons" style="margin-right: 10px;">build</i><i class="material-icons">delete</i></a></div></li>
										<li class="collection-item"><div class="truncate">Ajouter un nouveau parcours<a href="#!" class="secondary-content"><i class="material-icons">playlist_add</i></a></div></li>
									</ul>
								</div>
							</li>
						</ul>
				</div>
			</div>

			<!-- ===== Right Menu ===== -->
            <div class="col s3 m3 l3 push-s6 push-m6 push-l7">
                <div class="card" id="right-menu">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">info_outline</i><b class="truncate">Informations</b></div>
                            <div class="collapsible-body center-align">
                                <div id="right-menu-infoUV">Aucun noeud sélectionné</div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">sort</i><b class="truncate">Détails parcours</b></div>
                            <div class="collapsible-body">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



			<div id="graph-container"></div>
		</div>







		<!-- ================================================================== -->
		<!-- ====================  Loader for the graph ======================= -->
		<!-- ================================================================== -->
		<!-- Loader that appears while the graph is being processed -->
		<div id="loader-wrapper">
			<div class="preloader-wrapper big active" id="graph-loader">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
					<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="fixed-action-btn" style="right: 10px; bottom: 10px;">
			<a class="btn-floating btn-large blue-grey darken-1">
				<i class="large material-icons">aspect_ratio</i>
			</a>
			<ul>
				<li><a class="btn-floating blue-grey lighten-2 tooltipped" data-position="left" data-delay="500" data-tooltip="Dézoomer" onclick="zoomOut()"><i class="material-icons">remove</i></a></li>
				<li><a class="btn-floating blue-grey lighten-2 tooltipped" data-position="left" data-delay="500" data-tooltip="Zoomer" onclick="zoomIn()"><i class="material-icons">add</i></a></li>
				<li><a class="btn-floating blue-grey lighten-2 tooltipped" data-position="left" data-delay="500" data-tooltip="Ajuster" onclick="fitSize()"><i class="material-icons">fullscreen</i></a></li>
		    </ul>
		</div>








		<!-- ================================================================== -->
		<!-- ======================  Modals Elements ========================== -->
		<!-- ================================================================== -->

		<!-- Modal for "a propos" -->
		<div id="about-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>A propos</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et tincidunt diam, in ullamcorper ligula. Integer non dolor viverra, commodo dui vel, fringilla nunc. Donec vestibulum tortor dignissim, fermentum ex sit amet, facilisis neque. Aenean nec dictum sapien. Morbi lacinia nisi vel risus ultrices, sit amet egestas est pharetra. Cras aliquam tellus in dignissim vulputate. Phasellus blandit, odio lacinia pulvinar tincidunt, lorem magna scelerisque ex, at rutrum velit lectus quis metus. Morbi id erat non ipsum rutrum fermentum. Etiam at ipsum ultricies, convallis quam elementum, convallis leo. Pellentesque molestie diam eget efficitur rhoncus. Proin eget odio ornare, suscipit ante nec, faucibus sapien. Aliquam accumsan, dolor vitae rhoncus accumsan, ipsum dui lacinia turpis, id euismod sem neque non elit.
				</p>
				<br />
				<p>
					Nam fringilla lacus quam, ac pretium libero blandit id. Nunc iaculis varius fringilla. Integer vehicula felis lacus, ut bibendum turpis fermentum non. Ut interdum sodales orci. Aenean hendrerit posuere vulputate. Maecenas faucibus odio ut ante egestas viverra. Proin pellentesque lorem vel erat feugiat rutrum. Ut eget lacus risus. Curabitur mattis sagittis arcu eget rhoncus.
				</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Fermer</a>
			</div>
		</div>

		<!-- Modal for "options" -->
		<div id="options-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Options</h4>
				<div class="col s12">
					<h5>Commandes</h5>

					<div>
						<p><kbd>↑</kbd> <kbd>↓</kbd> <kbd>←</kbd> <kbd>→</kbd> : Se déplacer dans le graphe</p><br />
						<p><kbd>CTRL</kbd> + <kbd>Clic gauche</kbd> : Sélectionner plusieurs noeuds</p><br />
						<p><kbd>CTRL</kbd> + <kbd>+</kbd> : Zoomer</p><br />
						<p><kbd>CTRL</kbd> + <kbd>-</kbd> : Dézoomer</p><br />
						<p><kbd>CTRL</kbd> + <kbd>0</kbd> : Réinitialiser la vue</p><br />
						<p><kbd>CTRL</kbd> + <kbd>F</kbd> : Rechercher un noeud, une branche...</p><br />
					</div>

					<div class="divider"></div>
					
				</div>
			</div>

			<!-- Modal for footer-->
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Fermer</a>
			</div>
		</div>

		<!-- ================================================================== -->
		<!-- =========================   JS values   ========================== -->
		<!-- ================================================================== -->


		<script type="text/javascript">
			var user = {% if logged %}true{% else %}false{% endif %};
		</script>



		<!-- ================================================================== -->
		<!-- =========================  Importations ========================== -->
		<!-- ================================================================== -->

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/sigma.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.activeState.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.select.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.keyboard.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.animate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.design.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.legend.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.filter.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.locate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.parsers.json.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.linkurious.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.glyphs.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.halo.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/graph-tools.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>







		<!-- ================================================================== -->
		<!-- ====================  JavaScript inline ========================== -->
		<!-- ================================================================== -->

		<script type="text/javascript">
		  	// Init the select in cards
		  	$(document).ready(function(){
		  		// Change property
		  		if($(window).width() <= 1024){
		  			$('.col').removeClass('l2').addClass('l3');
		  			$('.push-l8').removeClass('push-l8').addClass('push-l6');
		  		}

				$('select').material_select();
				// $(".button-collapse").sideNav();
				$('.modal-trigger').leanModal({
					dismissible: true, // Modal can be dismissed by clicking outside of the modal
					opacity: .5, // Opacity of modal background
					in_duration: 300, // Transition in duration
					out_duration: 200
				});
				$('.collapsible').collapsible({
					// A setting that changes the collapsible behavior to expandable instead of the default accordion style
					accordion : $(window).width() <= 992 || $(window).height() <= 768
				});
				$('.tooltipped').tooltip({
					delay: 50
				});
				$('.dropdown-button').dropdown({
					inDuration: 300,
					outDuration: 225,
					constrain_width: true, // Does not change width of dropdown to that of the activator
					hover: false, // Activate on hover
					gutter: 0, // Spacing from edge
					belowOrigin: true, // Displays dropdown below the button
					alignment: 'left' // Displays dropdown with edge aligned to the left of button
				});

				// To execute function on enter key press
				(function($){
					$.fn.onEnter = function(func){
						this.bind('keypress', function(e){
							if (e.keyCode == 13) 
								func.apply(this, [e]);
							});
						return this; 
					};
				})(jQuery);

				// Search
				$('#node-to-search').onEnter(function(){
					searchNode($(this).val());
				});

				// Autocomplete
				$('#node-to-search').on('input', function(){
					var search = $(this).val(),
						// Targeting matching and displayed nodes
						matchNodes = tagsForSearchBar.filter(function(n){
							var hidden = false,
								node = s.graph.nodes(n);

							if(node)
								hidden = node.hidden;

							return n.match(RegExp('^' + search, 'i')) && !hidden;
						});

					$('#dropdown').empty();



					if(search){
						var maxLength = Math.min(matchNodes.length, 5);

						for(var i = 0; i < maxLength; i++){
							var node = s.graph.nodes(matchNodes[i]),
								name = '';

							if(node)
								name = (node.attributes.nomUV) ? '<span style="color: #9E9E9C;" class="truncate">' + node.attributes.nomUV + '</span>' : '';

							$('#dropdown').append('<li><a href="#"><span class="node">' + matchNodes[i] + '</span>' + name + '</a></li>');
						}
					}
				});

				// On autocomplete element click
				$('#dropdown').on('click', 'li', function(e){
					searchNode($(this).find('a span.node').text());
				});

				// Hide autocomplete on click elsewhere
				$(document).mouseup(function(e){
					var searchbar = $('#node-to-search'),
						dropdown = $('#dropdown');

					// if the target of the click isn't the searchbar nor a descendant of the searchbar or the autocomplete dropdown
					if(!searchbar.is(e.target) && searchbar.has(e.target).length === 0 && !dropdown.is(e.target) && dropdown.has(e.target).length === 0){
						dropdown.empty();
						searchbar.val(''); // Emptying searchbar
					}
				});


				// Some new shortcuts
				window.addEventListener("keydown",function(e){
					// CTRL + F
					if (e.keyCode === 114 || (e.ctrlKey && e.keyCode === 70)){
						e.preventDefault();
						$('#node-to-search').focus();
					}

					// CTRL + 0
					if(e.ctrlKey && e.keyCode === 96){
						e.preventDefault();
						fitSize();
					}

					// CTRL + +
					if(e.ctrlKey && e.keyCode === 107){
						e.preventDefault();
						zoomIn();
					}

					// CTRL + -
					if(e.ctrlKey && e.keyCode === 109){
						e.preventDefault();
						zoomOut();
					}

					// Escape
					if(e.keyCode === 27)
						unselectAll();

					// CTRL + A
					if(e.ctrlKey && e.keyCode == 65)
						e.preventDefault();
				});
		    });


		</script>

		<script type="text/javascript" src="{% static 'js/jQuery_Events.js' %}"></script>
	</body>
</html>
