{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Linkurious.js</title>
		<meta name="charset" charset="utf-8">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'bower_components/Materialize/dist/css/materialize.min.css' %}" media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<!--Import jquery-ui.css-->
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}'">

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body class="grey lighten-5">
			<!-- ================================================================== -->
			<!-- ============================= Header ============================ -->
			<!-- ================================================================== -->
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper blue-grey darken-3">
						<ul class="brand-logo left" style="padding-left: 10px;">
							<li>UVs</li>
						</ul>

						<div class="brand-logo center input-field">
							<i class="material-icons prefix" style="color: white;">search</i><input placeholder="Rechercher un noeud, une branche..." id="node-to-search" type="text" class="validate white-text" style="width: 110%;">
						</div>

						<ul class="right">
							<li><a href="#options-modal" class="modal-trigger"><i class="material-icons">settings</i></a></li>
							<li><a href="#about-modal" class="modal-trigger"><i class="material-icons">info_outline</i></a></li>
						</ul>
					</div>
				</nav>
			</div>

		<div class="row">

			<!-- ================================================================== -->
			<!-- ====================  Left and right menus ======================= -->
			<!-- ================================================================== -->

			<!-- ===== Left Menu ===== -->
			<div class="col s3 m3 l2">
				<div class="card" id="left-menu">
						<ul class="collapsible" data-collapsible="expandable">
							<li>
								<div class="collapsible-header active"><i class="material-icons">visibility</i><b class="truncate">Visualisation</b></div>
								<div class="collapsible-body">
									<p>
										<input name="visibility-group" type="radio" id="visibility-all" class="with-gap" checked="checked" />
										<label for="visibility-all">Tout</label>
										<br />
										<input name="visibility-group" type="radio" id="visibility-me" class="with-gap"/>
										<label for="visibility-me">Mon parcours</label>
										<br />
										<input name="visibility-group" type="radio" id="visibility-same" class="with-gap"/>
										<label for="visibility-same">Parcours similaires</label>
									</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">sort</i><b class="truncate">Filtres</b></div>
								<div class="collapsible-body">
									<p>
										<select id="node-category">
											<option value="" disabled selected>Catégorie</option>
											<option value="All">Toutes les catégories</option>
											<option value="CS">Seulement les CS</option>
											<option value="TM">Seulement les TM</option>
										</select>

										<select id="node-branch">
											<option value="" disabled selected>Branche</option>
											<option value="All">Toutes les branches</option>
											<option value="TC">Tronc Commun</option>
											<option value="GI">Génie Informatique</option>
											<option value="GB">Génie Biologique</option>
											<option value="GM">Génie Mécanique</option>
											<option value="GSM">Génie des Systèmes Mécaniques</option>
											<option value="GSU">Génie des Systèmes Urbains</option>
											<option value="GP">Génie des Procédés</option>
										</select>
									</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">timeline</i><b class="truncate">Mes parcours</b></div>
								<div class="collapsible-body">
									<ul class="collection">
										<li class="collection-item"><div>Parcours 1<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
										<li class="collection-item active"><div>Parcours 2<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
										<li class="collection-item truncate"><div>Ajouter un nouveau parcours<a href="#!" class="secondary-content"><i class="material-icons">playlist_add</i></a></div></li>
									</ul>
								</div>
							</li>
						</ul>
				</div>
			</div>

			<!-- ===== Right Menu ===== -->
            <div class="col s3 m3 l2 push-s6 push-m6 push-l8">
                <div class="card" id="right-menu">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">info_outline</i><b class="truncate">Informations sur l'UV</b></div>
                            <div class="collapsible-body">
                                <p id="right-menu-infoUV">Aucun noeud sélectionné</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">sort</i><b class="truncate">Détails parcours</b></div>
                            <div class="collapsible-body">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



			<div id="graph-container"></div>
		</div>







		<!-- ================================================================== -->
		<!-- ====================  Loader for the graph ======================= -->
		<!-- ================================================================== -->
		<!-- Loader that appears while the graph is being processed -->
		<div id="loader-wrapper">
			<div class="preloader-wrapper big active" id="graph-loader">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
					<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="fixed-action-btn" style="right: 10px; bottom: 10px;">
			<a class="btn-floating btn-large blue-grey darken-1">
				<i class="large material-icons">aspect_ratio</i>
			</a>
			<ul>
				<li><a class="btn-floating blue-grey lighten-2" onclick="zoomOut()"><i class="material-icons">zoom_out</i></a></li>
				<li><a class="btn-floating blue-grey lighten-2" onclick="zoomIn()"><i class="material-icons">zoom_in</i></a></li>
				<li><a class="btn-floating blue-grey lighten-2" onclick="fitSize()"><i class="material-icons">settings_overscan</i></a></li>
		    </ul>
		</div>








		<!-- ================================================================== -->
		<!-- ======================  Modals Elements ========================== -->
		<!-- ================================================================== -->

		<!-- Modal for "a propos" -->
		<div id="about-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>A propos</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et tincidunt diam, in ullamcorper ligula. Integer non dolor viverra, commodo dui vel, fringilla nunc. Donec vestibulum tortor dignissim, fermentum ex sit amet, facilisis neque. Aenean nec dictum sapien. Morbi lacinia nisi vel risus ultrices, sit amet egestas est pharetra. Cras aliquam tellus in dignissim vulputate. Phasellus blandit, odio lacinia pulvinar tincidunt, lorem magna scelerisque ex, at rutrum velit lectus quis metus. Morbi id erat non ipsum rutrum fermentum. Etiam at ipsum ultricies, convallis quam elementum, convallis leo. Pellentesque molestie diam eget efficitur rhoncus. Proin eget odio ornare, suscipit ante nec, faucibus sapien. Aliquam accumsan, dolor vitae rhoncus accumsan, ipsum dui lacinia turpis, id euismod sem neque non elit.
				</p>
				<br />
				<p>
					Nam fringilla lacus quam, ac pretium libero blandit id. Nunc iaculis varius fringilla. Integer vehicula felis lacus, ut bibendum turpis fermentum non. Ut interdum sodales orci. Aenean hendrerit posuere vulputate. Maecenas faucibus odio ut ante egestas viverra. Proin pellentesque lorem vel erat feugiat rutrum. Ut eget lacus risus. Curabitur mattis sagittis arcu eget rhoncus.
				</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Fermer</a>
			</div>
		</div>

		<!-- Modal for "options" -->
		<div id="options-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Options</h4>
				<div class="col s12">
					<h5>Commandes</h5>

					<div>
						<p><kbd>Espace</kbd> + <kbd>Clic gauche</kbd> : Sélectionner plusieurs noeuds</p><br />
						<p><kbd>↑</kbd> <kbd>↓</kbd> <kbd>←</kbd> <kbd>→</kbd> : Se déplacer dans le graphe</p><br />
						<p><kbd>Espace</kbd> + <kbd>↑</kbd> : Zoomer</p><br />
						<p><kbd>Espace</kbd> + <kbd>↓</kbd> : Dézoomer</p><br />
						<p><kbd>Espace</kbd> + <kbd>0</kbd> : Réinitialiser la vue</p><br />
					</div>

					<div class="divider"></div>
					
				</div>
			</div>

			<!-- Modal for footer-->
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Fermer</a>
			</div>
		</div>







		<!-- ================================================================== -->
		<!-- =========================  Importations ========================== -->
		<!-- ================================================================== -->

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/sigma.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.activeState.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.select.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.keyboard.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.animate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.design.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.legend.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.filter.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.plugins.locate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.parsers.json.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.linkurious.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.glyphs.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/linkurious/dist/plugins/sigma.renderers.halo.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/graph-tools.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>







		<!-- ================================================================== -->
		<!-- ====================  JavaScript inline ========================== -->
		<!-- ================================================================== -->

		<script type="text/javascript">
		  	// Init the select in cards
		  	$(document).ready(function(){
				$('select').material_select();
				// $(".button-collapse").sideNav();
				$('.modal-trigger').leanModal({
					dismissible: true, // Modal can be dismissed by clicking outside of the modal
					opacity: .5, // Opacity of modal background
					in_duration: 300, // Transition in duration
					out_duration: 200
				});

				$(document).ready(function(){
					$('.collapsible').collapsible({
						accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
					});
				});

				// To execute function on enter key press
				(function($){
					$.fn.onEnter = function(func){
						this.bind('keypress', function(e){
							if (e.keyCode == 13) 
								func.apply(this, [e]);
							});
						return this; 
					};
				})(jQuery);


				// autocomplete for the search bar
//				$("#node-to-search").autocomplete({
//					source: tagsForSearchBar,
//					// setting the width of the autocomplete window to the width of the search bar
//					open: function() {
//						$("ul.ui-menu").width( $(this).innerWidth() );
//					},
//					// call the search function when click on a item in the displayed list
//					select: function(event, ui) {
//						if(ui.item){
//							searchNode(ui.item.value);
//						}
//						ui.item.value = ''; // reset the search bar
//					}
//				});


				// On enter, search the node
				$(function(){
					$("#node-to-search").onEnter(function(){
						searchNode($(this).val());
					});
				});




				// Specify a node category
				$('#node-category').change(function(){
					applyCategoryFilter();
				});

				$('#node-branch').change(function(){
					applyBranchFilter();
				});

				// Specify the user's UVs
				$('#visibility-me').change(function(){
					showUserUVs(true);						
				});
				$('#visibility-all').change(function(){
					showUserUVs(false);						
				});
		    });
		</script>
	</body>
</html>
